<ion-view title="Announcements"  class="show" >

	<ion-pane class="background-color-grey">
	
	      <ion-content  view-title="Feed" header-shrink scroll-event-interval="5">
	      
	      
	      <!-- <ion-refresher on-refresh="doRefresh()" pulling-text="Pull to refresh"></ion-refresher> -->
	   
		    
    
     
	       <div class="bar bar-header item-input-inset">
	       <button class="button button-icon ion-heart" style="color:white;" ng-show="areFavoritesPreset() && !areFavoritesShowing() " ng-click="showFavoritesOnly();"></button>
	       <button class="button button-icon ion-reply-all" style="color:white;" ng-show="areFavoritesShowing()" ng-click="showAllButton();"></button>
		      <label class="item-input-wrapper">
		        <i class="icon ion-ios-search placeholder-icon"></i>
		        <input  type="search" placeholder="Search" ng-model="searchText">
		      </label>
		      <button  class="button button-icon ion-android-cancel"  style="color:white;" ng-click="searchText=''; cancelFilter();"></button>
		      <span style="color:white;">({{ filtered.length}})</span>	
		    </div>
		    
		    
		    <ion-list show-reorder="model.reorderFlag" can-swipe="true">
		    
				    	<!-- Loading Indicator -->
				<div class="loading"  ng-if="announcementsLoading" >
					<ion-spinner icon="ripple" ></ion-spinner >
					<p >Loading announcements...</p >
				</div >
		
				<!-- Empty room message -->
				<div class="loading center" ng-show="!announcementsLoading && announcements.length == 0" >
						<div class="row">
							<div class="col-10"></div>
				     	 	<div class="col-80"><p class="text-muted">No organizational announcements have been made yet!</p></div>
				     	 	<div class="col-10"></div>
				     	 </div>
				</div >

		      <ion-item class="item item-text-wrap item-remove-animate" ng-repeat="announcement in filtered = (announcements | filter:searchText)"> 

				  <!-- <span style="font-family:cursive">" -->
				  <span >"{{announcement.text}}"
				  	</span>  
				  	<p>&nbsp;</p>
				  	<p><i class="ion ion-ios-calendar-outline"></i><span>&nbsp;&nbsp;{{announcement.dateTime |  date:'MMM dd, yyyy  h:mm:ss a'}}</span></p>
				      
		
		        <ion-reorder-button class="ion-navicon" on-reorder="moveStation(substation,$fromIndex,$toIndex)"></ion-reorder-button>
		        <ion-option-button class="ameren" ng-click="updateFavorites(announcement); clicked=!clicked;"><i ng-class="!checkIfFavorite(announcement) ? 'icon ion-ios-heart-outline' : 'icon ion-heart'"></i></ion-option-button>
		
		      </ion-item>
		
		
		    </ion-list>
			  	
			 <!--  	<div class="card"  ng-repeat="announcement in filtered = (announcements | filter:searchText)">
				  <div class="item item-text-wrap">

				  <i class="icon ion-speakerphone"></i>  {{announcement.text}}
				      
				  <i  ng-click="updateFavorites(announcement)" ng-class="checkIfFavorite(announcement) ? 'icon ion-heart pull-right' : 'icon ion-ios-heart-outline pull-right balanced'"></i>
				  </div>
				</div> -->
					
			<ion-infinite-scroll immediate-check="false" on-infinite="loadMoreAnnouncements()" spinner="ripple" distance="1%"></ion-infinite-scroll>
					
      
	      </ion-content>
	    </ion-pane>
</ion-view >