<ion-view view-title="Chats" ng-controller="chatController">

  <ion-content class="padding">
    Logged in as {{user }}
<p>
		Search: <input ng-model="searchText" />
	</p>
	<ul class="chatbox">
		<li
			ng-repeat="message in messages | orderBy:orderBy | filter:searchText">
			<span class="text" color-this="color" data-color="message.text">
			{{message.user}}  </span>
			<small>({{message.timestamp | date:'MM/dd/yyyy h:mma'}}) </small>: {{message.text}}
			<!-- <a href="#" ng-click="messages.$remove(message)">X</a> -->
		</li>
	</ul>


  </ion-content>

  <form name="sendMessageForm" ng-submit="addMessage(message)" novalidate>
      <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
          <label class="item-input-wrapper">
              <input id="msg-input" ng-change="updateTyping()" ng-model="message" class="input-message" type="text" placeholder="Message">
          </label>
          <div class="footer-btn-wrap">
            <button class="button button-icon icon ion-ios-paperplane footer-btn" type="submit"
                ng-disabled="!message || message === ''">
            </button>
          </div>
      </ion-footer-bar>
  </form>

</ion-view>