<ion-view view-title="Chats" ng-controller="chatController">

  <ion-content class="padding">
    <div id='firechat-wrapper'>
    <a href='#' ng-click='login("twitter");'>Login</a>
    </div>

  </ion-content>
<!-- 
  <form name="sendMessageForm" ng-submit="addMessage(message)" novalidate>
      <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
          <label class="item-input-wrapper">
              <input id="msg-input" ng-change="updateTyping()" ng-model="message" class="input-message" type="text" placeholder="Message">
          </label>
          <div class="footer-btn-wrap">
            <button class="button button-icon icon ion-ios-paperplane footer-btn" type="submit"
                ng-disabled="!message || message === ''">
            </button>
          </div>
      </ion-footer-bar>
  </form> -->

</ion-view>