 <ion-modal-view>
  		<ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Your Cool New Idea</h1>
          <button class="button button-clear button-primary" ng-click="closeComposer()">Cancel</button>
        </ion-header-bar>
        
        
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input item-stacked-label" >
              <span class="input-label">Title*&nbsp;<span ng-show="!isTitleValid(newIdea.title)" style="font-size:50%">Min 8 chars - Max 40 chars</span></span>
              <input ng-model="newIdea.title" type="text" placeholder="Catchy Name">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Description*&nbsp;<small ng-show="!isDescValid(newIdea.desc)" style="font-size:50%">Min 100 chars</small></span>
              <textarea ng-model="newIdea.desc" type="text" placeholder="Detailed description" rows="20" cols="50"></textarea>
            </label>
            <!-- <label class="item item-input"> -->
              <!-- <span class="input-label">Email</span> -->
              <!-- <input ng-model="newUser.email" type="text"> -->
               <ion-checkbox ng-model="newIdea.proprietary">Has Ameren Trade Secrets?</ion-checkbox>
           <!--  </label> -->
           <!--  <button class="button button-full button-positive" ng-click="openConfirmation()">Submit</button> -->
          </div>
         </ion-content>
         
	<!-- Send Message Footer Area -->
	<ion-footer-bar keyboard-attach
	                class="bar-positive item-input-inset" >
	
		<i class="ion-ios-paperplane"></i><button class="button button-full button-positive"
		       ng-disabled="!isIdeaValid(newIdea.title,newIdea.desc)" ng-click="openConfirmation()" >
			Submit
		</button >
	</ion-footer-bar >
  </ion-modal-view>