<ion-modal-view>
  <ion-header-bar class="bar-balanced">

  </ion-header-bar>
  <ion-content>

<div class="card">
  <div class="item item-text-wrap">
    <!-- <i class="ion-help"></i> -->
    As soon as you submit this idea will be available for everyone at Ameren to see. You can also update or delete it later. Do you want to submit now?

<p></p><p>&nbsp;</p>
<div class="text-center">
<button class="button button-balanced center" ng-click="finalSubmit()">
 Yes
</button>
<button class="button button-assertive center" ng-click="closeConfirmation()">
 No
</button>
</div>

  </div>
</div>


  </ion-content>
</ion-modal-view>
