 <ion-modal-view>
  		<ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Update Idea</h1>
          <button class="button button-clear button-primary" ng-click="closeComposer()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input item-stacked-label" >
              <span class="input-label">Title</span>
              <input ng-model="editIdea.title" type="text" placeholder="Catchy Name">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Description</span>
              <textarea ng-model="editIdea.desc" type="text" placeholder="Detailed description" rows="25" cols="50"></textarea>
            </label>
            <!-- Some bug. UI has to refresh to show the sharing icon ng-show = {{item.sharing}} is not picking it up immediately -->
<!--                <ion-checkbox ng-model="editIdea.proprietary">Has Ameren Trade Secrets?</ion-checkbox> -->
            <button class="button button-full button-positive" ng-click="saveEdit()">Submit</button>
          </div>
         </ion-content>
  </ion-modal-view>