
 <!--  <ion-header class="bar bar-subheader">
      
		      <div class="card">
		  <div class="item item-text-wrap">
		    This is a basic Card which contains an item that has wrapping text.
		  </div>
		</div>
		      
      </ion-header> -->
       <div style="height: 100px;"></div>
<ion-view view-title="Ideas">


 <ion-pane class="background-color-grey">
    
     
      <ion-content view-title="Feed" header-shrink scroll-event-interval="5">
        
       <div style="height: 10px;"></div>
      
      <!-- <ion-refresher on-refresh="doRefresh()" pulling-text="Pull to refresh"></ion-refresher> -->
  
	 	 <ion-item ng-if="newItems.length > 0" ng-click="doRefresh()">
	        {{newItems.length}} new items
	      </ion-item>
      
      
        <div class="list card" ng-repeat="item in items ">

          <div class="item item-avatar">
            <img ng-src="{{item.picture.thumbnail}}">
            <h2>{{item.name}}
            	<!-- <a class="pull-right" ng-click="openEditor(item)" ng-show="{{isItMine(item)}}"> -->
            	<a class="pull-right" ng-click="openEditor(items.indexOf(item),item)" ng-show="true">
	              <i class="icon ion-edit"></i>
	            </a>
            </h2>
            <p>{{getDate(item.articleDate) | date:'MMMM dd, yyyy'}}
	            <a class="pull-right" ng-click="openDeleteConfirmation(item)" ng-show="{{isItMine(item)}}">
	              <i class="icon ion-trash-a"></i>
	            </a>
            </p>
            
             
          </div>
			<a  href="#/app/feeds/detail/{{item.$id}}">
		
	          <div class="item item-body">
	            <img class="full-image" ng-src={{item.articleImg}}>
	              <p class="center">
	              <strong>{{item.title | limitTo: 80}}</strong>
	            </p>
	            <p class="center">
	              {{item.article | limitTo: 100}}<span ng-show="{{item.article.length>100}}">...</span>
	            </p>
	            
	            <p>
	              <a class="subdued">{{item.likes == 0 ? '' : item.likes}} {{item.likes > 1 ? 'Votes' : item.likes == 0 ? '' : 'Vote'}}</a>
		            <span ng-show="isItemHot(item)" class="ion ion-fireball" style="color:red;"></span> <a  ng-show="isItemHot(item)" class="subdued" style="color:red;">Hot</a>
	              
	              <a href="#/app/feeds/detail/{{item.$id}}"><span class='pull-right'>Read More</span></a> 
	            </p>
	          </div>
          </a>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" ng-click= "updateLikes({{items.indexOf(item)}},{{item}})">
        	      <i ng-class="{{isLiked(item)}} ? 'icon ion-thumbsup balanced' : 'icon ion-thumbsup'"></i>
              Upvote
            </a>
            <a class="tab-item" href="#/app/feeds/{{item.id}}">
              <i class="icon ion-chatbox"></i>
              Chat about this
            </a>
            <a class="tab-item" ng-click="share(item)" ng-show="{{item.sharing}}">
              <i class="icon ion-share"></i>
              Share
            </a>
           
          </div>
	
        </div>
         
       <ion-infinite-scroll immediate-check="false" on-infinite="loadMore()" spinner="ripple" distance="1%"></ion-infinite-scroll>
      
      </ion-content>
      <button class="button button-float" ng-click="openComposer()">
	        <i class="icon ion-compose"></i>
	      </button>
        
    </ion-pane>
    
 </ion-view>

