
 <!--  <ion-header class="bar bar-subheader">
      
		      <div class="card">
		  <div class="item item-text-wrap">
		    This is a basic Card which contains an item that has wrapping text.
		  </div>
		</div>
		      
      </ion-header> -->
       <div style="height: 100px;"></div>
<ion-view view-title="Feeds">

 <ion-pane class="background-color-grey">
    
     
      <ion-content view-title="Feed" header-shrink scroll-event-interval="5">
        
       <div style="height: 10px;"></div>
      
      <!-- <ion-refresher on-refresh="doRefresh()" pulling-text="Pull to refresh"></ion-refresher> -->
  
	 	 <ion-item ng-if="newItems.length > 0" ng-click="doRefresh()">
	        {{newItems.length}} new items
	      </ion-item>
      
      
        <div class="list card" ng-repeat="item in items ">

          <div class="item item-avatar">
            <img ng-src="{{item.picture.thumbnail}}">
            <h2>{{item.name}}</h2>
            <p>November 05, 1955</p>
          </div>
			<a  href="#/app/feeds/detail/{{item.id}}">
		
	          <div class="item item-body">
	            <img class="full-image" ng-src={{item.articleImg}}>
	            <p class="center">
	              The Monkey Pscychology : A must read for Ameren
	              This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
	              the content is from a card-body consisting of an image and paragraph text. The footer
	             
	            </p>
	            <p>
	              <a href="#" class="subdued">1 Like</a>
	              <a href="#" class="subdued">5 Comments</a>
	              <a href="#/app/feeds/detail/{{item.SSN}}"><span class='pull-right'>Read More</span></a> 
	            </p>
	          </div>
          </a>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" ng-click= "liked=!liked">
               <i ng-class="liked==true ? 'icon ion-thumbsup balanced' : 'icon ion-thumbsup'"></i>
              Thumbs up
            </a>
            <a class="tab-item" href="#/app/feeds/{{item.SSN}}">
              <i class="icon ion-chatbox"></i>
              Chat about this
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>

        </div>
       <ion-infinite-scroll immediate-check="false" on-infinite="loadMore()" spinner="ripple" distance="1%"></ion-infinite-scroll>
      
      </ion-content>
    </ion-pane>
 </ion-view>

