<ion-modal-view>
 <!--  <ion-header-bar>
    <h1 class="title">Login1</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar> -->
  <ion-content ng-controller="chatController">
   <div >
	    
				<a class="btn btn-block btn-social btn-facebook" style="width:80%;margin-left:auto;margin-right:auto;"
					ng-click='logout()'> <span class="fa fa-facebook"></span>
					Sign in with Facebook
				</a> 
				<div class="text-center">© Copyright 2015</div>
		</div>
  </ion-content>
</ion-modal-view>
