<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close class="item item-icon-left" href="#/app/chat">
          <i class="icon ion-chatbubbles ameren"></i>  Chat
        </ion-item>
      <ion-item menu-close class="item item-icon-left" href="#/app/feeds">
          <i class="icon ion-ios-paper ameren"></i>  Feeds
        </ion-item>
       <ion-item menu-close class="item item-icon-left" href="#/app/tweets">
          <i class="icon ion-social-twitter ameren"></i>  Tweets
        </ion-item>
        
          <ion-item menu-close class="item item-icon-left" href="#/app/groups">
         <i class="icon ion-ios-lightbulb ameren"></i>   Ideas
        </ion-item>
       
        <ion-item menu-close class="item item-icon-left" href="#/app/timesheet">
          <i class="icon ion-ios-calendar ameren"></i>  Timesheet
        </ion-item>
         <ion-item menu-close class="item item-icon-left" href="#/app/settings">
          <i class="icon ion-ios-cog ameren" ></i>  Settings
        </ion-item>
        <ion-item menu-close class="item item-icon-left" href="#/app/share">
          <i class="icon ion-android-share-alt ameren" ></i>  Share
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
