<ion-view view-title="Share"> <ion-content>


<div class="list">
	<a class="item item-avatar" ng-click="shareFb()"> <img ng-src="https://s3-us-west-2.amazonaws.com/socialshareapp/facebook.png">
		<h2>Facebook</h2>
		<p>Share with friends on facebook.</p>
	</a> <a class="item item-avatar" ng-click="shareTwitter()"> <img ng-src="https://s3-us-west-2.amazonaws.com/socialshareapp/twitter.png">
		<h2>Twitter</h2>
		<p>Share with friends on twitter.</p>
	</a> <a class="item item-avatar" ng-click="shareWhatsapp()"> <img ng-src="https://s3-us-west-2.amazonaws.com/socialshareapp/whatsapp.png">
		<h2>WhatsApp</h2>
		<p>Share with friends on whatsapp.</p>
	</a> <a class="item item-avatar" ng-click="shareSms()"> <img ng-src="https://s3-us-west-2.amazonaws.com/socialshareapp/sms.png">
		<h2>Text (SMS)</h2>
		<p>Share with friends via SMS.</p>
	</a> <a class="item item-avatar" ng-click="shareEmail()"> <img ng-src="https://s3-us-west-2.amazonaws.com/socialshareapp/mail2.png">
		<h2>Email</h2>
		<p>Share with friends via Email.</p>
	</a>
</div>
</ion-content> </ion-view>
