<ion-view title="<div><i class='icon ion-chatbubble user-messages-top-icon'></i> Tom's Posts</div>"  class="show" >
<ion-pane class="background-color-grey">
	<ion-nav-buttons side="secondary" >
		<button class="button button-clear"
		        ng-click="user.toggleFavorite(show)" >
			<!-- <i class="ion-heart" ng-class="{'assertive':user.current.favorites[show.showid]}" ></i > -->
		</button >
	</ion-nav-buttons >

	<ion-content  >

		<h3>Timesheet Coming Soon</h3>
		

	</ion-content >
</ion-pane>
</ion-view >