/* Decorators */

.nav-bar-block, .bar {
  background-color: rgb(36, 147, 60) !important;
}
.background-color-grey {
  background-color: #F7F7F7;
}

.row-wrap {
  flex-wrap: wrap;
  display:-webkit-flex;
  -webkit-flex-flow: row wrap;
}

.margin-none {
  margin: 0px;
}

.card-facebook {
  border-radius: 6px;
  box-shadow: 0px 0.5px 1px rgba(0,0,0,0.2);
}

.card-facebook h2 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.card-facebook p {
  color: #999;
  text-align: center;
}

.card-facebook .item-divider {
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  border-top: 1px solid #F3F3F3;
  background-color: #FAFAFA;
}

.item-avatar-center, .item-avatar-center .item-content {
    min-height: 72px;
    border-radius: 6px;
}

/* Facebook Like Chat Begin */
/* http://codepen.io/jokeyrhyme/pen/dAwet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

ul.ChatLog {
  list-style: none;
}

.ChatLog {
  max-width: 90%;
  margin: 0 auto;
}
.ChatLog .ChatLog__entry {
  margin: .5em;
}

.ChatLog__entry {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
}

.ChatLog__entry.ChatLog__entry_mine {
  flex-direction: row-reverse;  
}

.ChatLog__avatar {
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 1;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  
}

.ChatLog__entry.ChatLog__entry_mine 
.ChatLog__avatar {
  
}

.ChatLog__entry .ChatLog__message {
  position: relative;
  margin: 0 12px;
}

.ChatLog__entry .ChatLog__message::before {
  position: absolute;
  right: auto;
  bottom: .6em;
  left: -12px;
  height: 0;
  content: '';
  border: 6px solid transparent;
  border-right-color: #ddd;
  z-index: 2;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message::before {
  right: -12px;
  bottom: .6em;
  left: auto;
  border: 6px solid transparent;
  border-left-color: rgb(36, 147, 60) !important;
}

.ChatLog__message {
  background-color: #ddd;
  padding: .5em;
  border-radius: 4px;
  font-weight: normal;
  max-width: 70%;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message {
  border-top: 1px solid rgb(36, 147, 60) !important;;
  border-bottom: 1px solid rgb(36, 147, 60) !important;;
  background-color: rgb(36, 147, 60) !important;;
  color: #fff;
}

.ChatLog__message .ChatLog__timestamp {
  display: none;
}


/* Facebook Like Chat End */

